
    <div class="footer">
        <p>
            Copyright © 2025 Designed by html.design.Tüm hakları saklıdır.<br><br>
            Distributed By: <a href="#/">Sami YENCİLEK</a>
        </p>
    </div>
