@model YoklamaFisi.Models.Entities.Ogretmen
@{
    ViewData["Title"] = "OgretmenlerEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row column_title">
    <div class="col-md-12">
        <div class="page_title">
            <h2><b>Öğretmen Ekleme Sayfası</b></h2>
        </div>
    </div>
</div>

<form class="form-group" method="post">
    <label>Adı Soyadı</label>
    <input class="form-control" type="text" name="AdSoyad" required="" maxlength="50" />
    <br />
    <button class="btn btn-outline-success"><i class="fa fa-edit"></i> Öğretmen Ekle</button>
    <a href="/Admin/Ogretmenler/Index/" class="btn btn-outline-danger"><i class="fa fa-backward"></i> Geri Dön</a>
</form>