@model X.PagedList.IPagedList<Sinif>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row column_title">
    <div class="col-md-12">
        <div class="page_title">
            <h2><b>Sınıf Listeleme Sayfası</b></h2>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Sınıf Şube Adı</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SinifAd</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@item.SinifId" method="post" onsubmit="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">
                        <button type="submit" class="btn btn-outline-danger btn-sm"> <i class="fa fa-eyedropper"></i> Sil</button>
                    </form>
                </td>
                <td><a href="/Admin/Sinif/SinifGuncelle/@item.SinifId" class="btn btn-outline-info"><i class="fa fa-anchor"></i> Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Admin/Sinif/SinifEkle/" class="btn btn-outline-success"><i class="fa fa-edit"></i> Sınıf Ekle</a>
<br />
<!-- 🔹 Sayfalama -->
<div class="mt-3">
    @Html.PagedListPager(Model,
    sayfa => Url.Action("Index", "Sinif", new { area = "Admin", sayfa }),
        new PagedListRenderOptions
        {
            LiElementClasses = new List<string> { "page-item" },
            PageClasses = new List<string> { "page-link" }
        })
</div>